<%- include('partials/header') -%>
<div class="container-fluid home-body">
    <% if(!visitor) { %>
    <h1 class="text-center my-name"><%= userName + "'s Profile" %> </h1> 
    <h2 class="text-center"><em> My Blogs </em></h1>
    <% } else { %> 
    <h2 class="text-center my-name"><em><%= userName + "'s Blogs"%></em></h1>
    <% } %> 
    <% newPost.forEach(function(post){ %>
        <div class="card post-box">
            <div class="card-body">
                <h2 class="card-title post-title"> <a class="post-title" href="/posts/<%=post._id%> ">
                        <%= post.title %>
                    </a></h2>
                <p class="card-text post-para">
                    <%= post.content%>
                </p>
                <a class="btn btn-primary" href="/posts/<%=post._id%> " role="button">Read more</a>
                <% if(!visitor){ %>
                    <!-- edit button here -->
                    <form action="/delete" method="post" class="d-inline">
                        <button class='btn btn-danger' type="submit" name="postId" value='<%=post._id%>'>Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
        <% }) %>
    </div>
<%- include('partials/footer') -%>